<h1>Welcome</h1>

<form action="/dashboard/addchama" method="POST">
  <input type="text" value="" name="name" placeholder="Name">
  
  <br><br>

  <input type="text" value="" name="country" placeholder="Country"> 
  
  <br><br>

  <input type="submit" value="Create Chama">
</form>

create chama + members then
invite members to chama

join chama - accept or deny