<h1>Chamas</h1>

{{!-- add chamas form --}}

<form action="/chamas/add" method="POST">
  <input type="text" value="" name="name" placeholder="Name">
  
  <br><br>

  <input type="text" value="" name="country" placeholder="Country"> 
  
  <br><br>

  <input type="submit" value="Create Chama">
</form>



{{!-- display list of chamas with edit and delete button --}}

<div class="chamas-list">
    
    <ul>
        {{#each Chamas }}
             <li> {{ name }}<span><a href="/chamas/{{id}}">Delete</a></span></li>
        {{ else }}
            <li> No chamas available</li>
        {{/each }}
    </ul>
</div>