<h1>Chamas</h1>

{{!-- add chamas form --}}

<form action="/chamas/add" method="POST">
  <input type="text" value="" name="name" placeholder="Name">
  
  <br><br>

  <input type="text" value="" name="country" placeholder="Country"> 
  
  <br><br>

  <input type="submit" value="Create Chama">
</form>



