
<h3>Add Members</h3>

<form action="/user/add" method="POST">
    <div class="form-group">
        <input type="text" placeholder="email@mail.com" name="email">
        <input type="text" placeholder="firstname" name="firstname">
        <input type="hidden" name="userStatus" value="0">
    </div>
    <br>
    <div>
        <input type="submit" value="Send Invites">
    </div>
</form>