{{!-- display list of chamas with edit and delete button --}}

<div class="chamas-list">
    
    <ul>
        {{#each Chamas }}
             <li> {{ name }}<span><a href="/chamas/{{id}}">Delete</a></span></li>
        {{ else }}
            <li> No chamas available</li>
        {{/each }}
    </ul>
</div>